<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
{% if user %}
<div class="container">
  <img src="/static/gear.svg" alt="FOSDEM logo">
  <div class="user-info">Logged in as <strong>{{user.extra_info.full_name}} ({{user.user_id}})</strong> (<span class="logout-link"><a href="{{ url_for('.logout') }}">Log Out</a></span>)</div>

  {% for client in clients %}
  <pre>
  <strong>User extra Info</strong>
  {{user.extra_info}}
  </pre>
  <hr>
</div>
{% endfor %}


{% else %}


    <div class="container">
        <img src="/static/gear.svg" alt="FOSDEM logo">
        <h1>Login</h1>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

{% endif %}
</body>
</html>
